.navigation__listItem {
    margin: 15px;
    flex-direction: row;
  }
 
  .navigation__list {
    margin: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }
 
  .navigation__list--header {
    list-style-type: "";
  }
 