html {
   box-sizing: border-box;
}

*, ::after, ::before {
   box-sizing: inherit;
}


 .body {
   background-color: rgb(255, 255, 255);
   padding: 80px;
   max-width: 1000px;
   margin: auto;
   font-family: 'Lora', serif;
   line-height: 1,5;
}

 .color {
   color: antiquewhite;
   background-color: rgb(116 81 100 / 88%)
 }

 .link {
   color: rgb(30 1 84);
   text-decoration: none;
 }

 .link:visited {
   color: rgb(109, 217, 238);
 }

 .link:focus {
   outline: 2px solid currentColor;
   border-radius: 8px;
 }

 .link:hover {
   outline: none;
   color: grey;
   border-bottom: 2px solid;
 }

 .link:active {
   color: rgb(53, 53, 53);
   border: none;
 }